<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div>
    <h1 class="banner">Stupid Coach</h1>
    <p>Hello, I am your coach, what did you want to tell me?</p>
    <%= yield %>
  </div>
  </body>
</html>
